{%- set external_urls = {
  'github': 'https://github.com/PrincetonUniversity/PsyNeuLink',
  'github_issues': 'https://github.com/PrincetonUniversity/PsyNeuLink/issues',
  'contributing': 'https://github.com/PrincetonUniversity/PsyNeuLink/blob/master/CONTRIBUTING.md',
  'docs': 'https://princetonuniversity.github.io/PsyNeuLink/',
  'home': 'https://princetonuniversity.github.io/PsyNeuLink/',
}
-%}
