recursive-include psyneulink_sphinx_theme *.conf
recursive-include psyneulink_sphinx_theme *.css
recursive-include psyneulink_sphinx_theme *.html
recursive-include psyneulink_sphinx_theme *.jinja
recursive-include psyneulink_sphinx_theme *.jpg
recursive-include psyneulink_sphinx_theme *.js
recursive-include psyneulink_sphinx_theme *.svg
recursive-include psyneulink_sphinx_theme *.woff
recursive-include psyneulink_sphinx_theme *.woff2
